---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BlogPostContent from '../components/BlogPostContent.astro'

type Props = CollectionEntry<'blog'>['data'] & { slug: string }

const { title, description, pubDate, updatedDate, slug } = Astro.props
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class='flex items-center justify-center flex-col p-4 w-full'>
			<BlogPostContent
				description={description}
				title={title}
				pubDate={pubDate}
				updatedDate={updatedDate}
				slug={slug}
			>
				<slot />
			</BlogPostContent>
		</main>
		<Footer />
	</body>
</html>
